<p class="md-display-1">
	<a ng-href="{{post.link}}" ng-show="post.link" target="_blank">{{post.title}}</a>
	<span ng-hide="post.link">{{post.title}}</span>
</p>
<br/>

<div ng-repeat="comment in post.comments">
	<md-card class="md-padding">
		<div class="md-headline" layout="row" layout-align="space-between center">
			<div layout-align="space-between center" class="column">
				<p class="md-subhead">{{comment.body}}</p>
				<span class="md-body-2">By {{comment.author}}</span>
			</div>
			<div layout="row" layout-align="center center" id="comment-score" ng-cloak>
				<span class="md-subhead">{{comment.upvotes.length}}</span>
				<md-button ng-hide="comment.doILike" class="md-icon-button" aria-label="Upvote" ng-click="incrementUpvotes(comment)">
					<md-icon class="md-icon-button red" md-font-library="material-icons" aria-label="Upvote">favorite_outline</md-icon>
				</md-button>
				<md-button ng-show="comment.doILike" class="md-icon-button" aria-label="Downvote" ng-click="decrementUpvotes(comment)">
					<md-icon class="md-icon-button red" md-font-library="material-icons" aria-label="Upvote">favorite</md-icon>
				</md-button>
			</div>
		</div>
	</md-card>
</div>

<form ng-show="isLoggedIn()" ng-submit="addComment()" style="margin-top: 30px;">
	<md-card class="md-padding">
		<div class="md-headline" layout="row" layout-align="space-between center">
			<div flex class="column">
				<md-input-container class="md-block">
					<label>Add a comment</label>
					<input type="text" class="md-subhead" ng-model="body" columns="1" md-maxlength="150" rows="1"/>
				</md-input-container>
			</div>
			<md-button class="btn md-primary md-raised" type="submit" ng-disabled="!body">Add comment</md-button>
		</div>
	</md-card>
</form>

<h3 ng-hide="isLoggedIn()">You must be <a href="/#/login">logged in</a> to comment</h3>