body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-validation-error {
  margin: -5px 0px 10px 0px; 
  padding: 8px;
}

.no-padding {
  padding: 0px;
}

#homepage-link {
  color: black; 
  cursor: pointer;
}